.dropdown-container {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
  border-radius: 6px;
  display: inline-block;
}

.dropdown-button {
  height: 70px;
  width: 70px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

.dropdown-menu {
  font-size: 24px;
  font-style: normal;
  color: aliceblue;
  padding-left: 15px;
  margin-left: -180px;
}

.dropdown-option {
  padding: 11px 9px;
  text-decoration: none;
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}
