.header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #0d1920;
  font-size: 50px;
  text-decoration: none;
  display: block;
  font-weight: bolder;
}
